.container {
    padding: 24px;
    height: 100vh;
  
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
  
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    padding: 2px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  
  .header:hover {
    cursor: pointer;
  }
  
  
  
  
  